<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CMPE 239-02 </display-name>
  <servlet>
    <servlet-name>SilentAnalysis</servlet-name>
    <servlet-class>com.datamining.servlets.SilentAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SilentAnalysis</servlet-name>
    <url-pattern>/SilentAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocationAnalysis</servlet-name>
    <servlet-class>com.datamining.servlets.LocationAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationAnalysis</servlet-name>
    <url-pattern>/LocationAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GraphAnalysis</servlet-name>
    <servlet-class>com.datamining.servlets.GraphAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphAnalysis</servlet-name>
    <url-pattern>/GraphAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TabularAnalytics</servlet-name>
    <servlet-class>com.datamining.servlets.TabularAnalytics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabularAnalytics</servlet-name>
    <url-pattern>/TabularAnalytics</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>